In [2]:
import pandas as pd
import numpy as np

In [14]:
apple = pd.read_csv('stocks/AAPL.csv')
amazon = pd.read_csv('stocks/AMZN.csv')
google = pd.read_csv('stocks/GOOGL.csv')
meta = pd.read_csv('stocks/FB.csv')
microsoft = pd.read_csv('stocks/MSFT.csv')
nvidia = pd.read_csv('stocks/NVDA.csv')

In [16]:
apple.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.406782  117258400
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.385558   43971200
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.357260   26432000
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.366103   21610400
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.376715   18362400

In [18]:
# Combine all the data into a list
dfs = [apple,amazon, google, meta, microsoft, nvidia ]

## Create additional columns

In [50]:
# Adding "Moving 50" and "Moving 200" columns to the DataFrames
for df in dfs:
    df['MA50'] = df.Close.rolling(50).mean()
    df['MA200'] = df.Close.rolling(200).mean()

# Adding Previous Day Close column
for df in dfs:
    df["Previous Day Closed"] = df.Close.shift(1)

# Create Change in Price column
for df in dfs:
    df['Change in Price'] = df['Close'] - df['Previous Day Closed'] 

# Create percent change column
for df in dfs:
    df['Percent Change in Price'] = df.Close.pct_change()

# Create previous day volume
for df in dfs:
    df['Previous day Volume'] = df.Volume.shift(1)

# Create  change in volume column
for df in dfs:
    df['Change in Volumn'] = df['Volume'] - df['Previous day Volume']

# Create percent change in volume column
for df in dfs:
    df['Percent Change in Volume'] = df.Volume.pct_change()

In [52]:
apple.head(200)

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous Day Closed,Change in Price,Percent Change in Price,Previous day Volume,Change in Volumn,Percent Change in Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1981-09-23,0.299107,0.299107,0.294643,0.294643,0.233457,7050400,0.389018,NaN,0.301339,-0.006696,-0.022222,11855200.0,-4804800.0,-0.405291
196,1981-09-24,0.294643,0.294643,0.292411,0.292411,0.231689,4575200,0.386384,NaN,0.294643,-0.002232,-0.007576,7050400.0,-2475200.0,-0.351072
197,1981-09-25,0.258929,0.258929,0.254464,0.254464,0.201622,8652000,0.382768,NaN,0.292411,-0.037946,-0.129771,4575200.0,4076800.0,0.891065
198,1981-09-28,0.256696,0.258929,0.256696,0.256696,0.203391,22932000,0.378973,NaN,0.254464,0.002232,0.008772,8652000.0,14280000.0,1.650485
199,1981-09-29,0.270089,0.272321,0.270089,0.270089,0.214002,23671200,0.375134,0.471596,0.256696,0.013393,0.052174,22932000.0,739200.0,0.032234

In [54]:
## Save all the new DataFrames
apple.to_csv('Apple.csv')
amazon.to_csv('Amazon.csv')
google.to_csv('Google.csv')
meta.to_csv('Meta.csv')
microsoft.to_csv('Microsoft.csv')
nvidia.to_csv('Nvidia.csv')